<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.nordicusability.exporterplugin"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="com.nordicusability.jiffy.READ_CONTENT"/>
    
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- Intent-filter for being added to the overflow menu in the summary screen-->
            <intent-filter>
                <action android:name="com.nordicusability.jiffy.plugin.EXPORT" />
                <category android:name="com.nordicusability.jiffy.plugin.EXTENSION" />
            </intent-filter>
        </activity>
    </application>

</manifest>
